<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Electronic Invoicing</title>
</head>

<body>
<!-- Header -->
<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="#hero">
                    <h1><span>El</span>ectronic <span>IN</span>voicing</h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li><a href="#hero" data-after="Home">Home</a></li>
                    <li><a href="#services" data-after="Service">Services</a></li>
                    <li><a href="#projects" data-after="Projects">Steps and Procedure</a></li>
                    <li><a href="#about" data-after="About">About</a></li>
                    <li><a href="#contact" data-after="Contact">Contact US</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Header -->


<!-- Hero Section  -->
<section id="hero">
    <div class="hero container">
        <div>
            <h1>Electronic Invoicing <span></span></h1>
            <h1>Makes your work <span></span></h1>
            <h1>Easier <span></span></h1>
            <a href="#dragbox" type="button" class="cta">Digitalize</a>
        </div>
    </div>
</section>
<!-- End Hero Section  -->

<!-- Service Section -->
<section id="services">
    <div class="services container">
        <div class="service-top">
            <h1 class="section-title">Serv<span>i</span>ces</h1>
            <p>We provide the following services to you with utmost security</p>
        </div>
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon"><img src="static/invoice.jpg"/></div>
                <h2>Service-1</h2>
                <p>Data Extraction from Invoice</p><br>
            </div>
            <div class="service-item">
                <div class="icon"><img src="static/itr.jpg"/></div>
                <h2>Service-2</h2>
                <p>Filing ITR and GST returns from data</p>
            </div>
            <div class="service-item">
                <div class="icon"><img src="static/service.jpg"/></div>
                <h2>Coming Soon</h2>
                <p>More new services</p>
            </div>

        </div>
    </div>
</section>
<!-- End Service Section -->

<!-- Steps and Procedure Section -->
<section id="projects">
    <div class="projects container">
        <div class="projects-header">
            <h1 class="section-title">Steps and <span>Procedure</span></h1>
        </div>
        <div class="all-projects">
            <div class="project-item">
                <div class="project-info">
                    <h1>Step -1</h1>
                    <h2>Browse a picture or a scanned copy of your invoice(.JPG, .JPEG, .PNG, .PDF).</h2>

                </div>
                <div class="project-img">
                    <img src="static/invoice1.png" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h1>Step-2</h1>
                    <h2>Upload the file to start digitialization.</h2>

                </div>
                <div class="project-img">
                    <img src="static/upload.jpg" alt="img">
                </div>
            </div>

            <div class="project-item">
                <div class="project-info">
                    <h1>Step-3</h1>
                    <h2>Download your GST form fully filled with your data.</h2>

                </div>
                <div class="project-img">
                    <img src="static/download.jpg" alt="img">
                </div>
            </div>

            <br><br>
<!--            Flask Flash Section-->
           {% block content %}
<div id="flash-section" class=" h-25 d-inline-block" >
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
            <!--Drag and Drop Section-->

            <div class="dragbox" id="dragbox">
                <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">

                    <div class="drag-area">
                        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                        <header>Drag & Drop to Upload File</header>
                        <span>OR</span>
                        <!--              <button>Browse File</button>-->

                        <input type="file" name="file"/>


                    </div>
                    <br>
                    <input type="submit"/>
                </form>
                <a href="{{ url_for('.download_file') }}">
                  <button class="btn btn-blog" type="submit" id="digitalize">Download</button>
                </a>



            </div>
        </div>
</section>
<!-- End Steps and Procedure Section -->

<!-- About Section -->
<section id="about">
    <div class="about container">
        <div class="col-left">
            <div class="about-img">
                <img src="static/about.jpg" alt="img">
            </div>
        </div>
        <div class="col-right">
            <h1 class="section-title">About <span>US</span></h1>

            <p>At Electronic Invoicing we are here to provide with the solution for invoice-data management
                by provding a way to store it in a digitalized manner with utomost security mechanism as we are well
                aware of the sensitivity of such business-oriented data. We assure to provide easy and efficient ways
                store data with all security protocols under check. Our aim is improve the efficiency of data storage
                in best possible way and to refine the means of form filling and filing returns for our clients.
            </p>

        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Contact Section -->
<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title">Contact <span>info</span></h1>
        </div>
        <div class="contact-items">
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png"/></div>
                <div class="contact-info">
                    <h1>Phone</h1>
                    <h2>+1 234 123 1234</h2>
                    <h2>+1 234 123 1234</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/></div>
                <div class="contact-info">
                    <h1>Email</h1>
                    <h2>something@gmail.com</h2>
                    <h2>something@gmail.com</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/></div>
                <div class="contact-info">
                    <h1>Address</h1>
                    <h2>VIT, Bhopal, Madhya Pradesh</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

<!-- Footer -->
<section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1><span>𝔼𝕃</span>𝕖𝕔𝕥𝕣𝕠𝕟𝕚𝕔 <span>𝕀ℕ</span>𝕧𝕠𝕚𝕔𝕚𝕟𝕘</h1>
        </div>
        <h2>For all your data and invoicing solutions</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"/></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png"/></a>
            </div>
        </div>

    </div>
</section>
<!-- End Footer -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="./app.js"></script>
</body>

</html>